*~
*.swp
*.mod
*.o
*.so
*.pyc
*.ps
*.log
*.html
*.data
*.storm
*.jld2
*.mat
*.nc
*.nc4
*.grd
*.pdf
*.svg
*.png
*.eps
*.ps
*.bb
*.jpg
*.png
*.gif
*.swt*
*.con
*.asc
*.asv
*.cpt
*.zip
*.gz
*.kml
*.kmz
fort.*
tmp*
gmt.*
*.sh.o*
*.sh.p*
*.sh.e*
*.DS_Store
nohup.out
_output/
_plots/
result_gauge/
xgeoclaw
.output
.plots
!fig/**
