*~
*.swp
*.mod
*.o
*.so
*.pyc
*.ps
*.log
*.html
*.data
*.storm
*.jld2
*.mat
*.nc
*.grd
*.pdf
*.svg
*.png
*.eps
*.ps
*.jpg
*.png
*.gif
*.swt*
*.con
*.asc
*.asv
*.cpt
fort.*
tmp*
gmt.*
.DS_Store
nohup.out
_output/
_plots/
xgeoclaw
.output
.plots
!testforcing.gif
!testsurf.gif
!topo_gebco2021.png
